@charset "utf-8";

.wrapper {
    border:solid black 2px;
    width:95vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
}

.logorow {
    display: flex;
    justify-content: space-between;
}

.headerinfo {
    margin:auto;
}
=======
    background-color:#ecf0f1;
}

.logorow {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
        "logo slogan slut";
    width:100%;
    height:15%;
    
}

.logo {
    grid-area: logo;
    background-color:yellow;
}


.logorowtest {
    grid-area: slogan;
    background-color: black;
    
}

.slut {
    grid-area: slut;
    background-color: aqua;
}
    
>>>>>>> 4d96bd02dd8a8db354434e4d649e870a9816b8c8

h5 {
    font-size: 20px;
    width:100%;
    font-family: 'pontano sans', sans-serif;
}

img {
    background-color: #bdc3c7;
    border:solid black 1px;
    border-radius: 10px;
<<<<<<< HEAD
    margin-top:1%;
    margin-left:2%;
    height:18vh;
=======
    height:100%;
    width:100%;
>>>>>>> 4d96bd02dd8a8db354434e4d649e870a9816b8c8
}

ul {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
=======
    list-style-type: none;
>>>>>>> 4d96bd02dd8a8db354434e4d649e870a9816b8c8
}

nav {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border:solid black 2px;
    border-radius: 10px;
    width:95%;
<<<<<<< HEAD
}

li {
    font-family: 'pontano sans', sans-serif;
}

.heroimage {
    margin-top:2vh;
    background-image: url(../images/heroimage.jpg);
    background-size: cover;
    width:95%;
    height: 600px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
=======
    background-color:#d2d5d8;
}

.linav {
    font-family: 'pontano sans', sans-serif;
    border:solid black 2px;
    padding:10px;
    border-radius: 5px;
    width:50px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #7f8c8d;
    
}



a {
    color:black;
    text-decoration: none;
    transform:all;
    transition-duration: 0.5s;
}



a:hover {
    transform:scale(1.1);
    box-shadow: 0px 0px 0px 3px #d2d5d8,0px 0px 0px 5px navy;
    text-decoration: underline;
    border-radius: 5px;
}



main {
    width:70%;
    margin-left:70px;
}



.heroimage {
    margin-top:2vh;
    background-image: url(../images/oldman.jpg);
    background-size: cover;
    width:95%;
    height: 700px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid black 1px;
    border-radius: 3px;
    width:95%;
}

.social {
    display: flex;
    justify-content: space-around;
    font-family: 'pontano sans', sans-serif;
}



>>>>>>> 4d96bd02dd8a8db354434e4d649e870a9816b8c8
